nav {
    height: 65px;
    background-color: #4ab367;
}

#user_icon {
    height: 58px;
    width: 58px;
    float: right;
    border-radius: 100%;
    border: 4px solid white;
}

#magazine {
    width: 25%;
    float: left;
    background-color: #ecf0f0;
}

.dark {
    background-color: rgba(128, 128, 128, 0.75);
}

#bulk {
    float: left;
    width: 75%;
    height: 100px;
}

#bulk .outgoing{
    text-align: right;
}